* {
  padding: 0;
  margin: 0;
}

body {
background-size: cover;
}

div {
  width: 200px;
  height: 100px;
  background-color: rgb(64, 0, 255);
}

.article {
  background-color: rgb(246, 239, 234);
  width: 700px;
  border: 1px rgb(255,0,0);
  padding: 10px 50px;
  margin: 0 auto;
}

.pic {
  text-align: center;
  font-style: italic;
  color: rgb(98, 98, 98);
}

img {
  height: 100%;
  width: 100%;
}

.back-to-top {
  text-align: center;
  text-decoration: none;
}